#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body{
  margin: 0;
}

.sidebar{
  position: fixed;
  width: 250px;
  top:0;
  left: 0;
  bottom: 0;
  background: #9c9494;
  padding-top: 50px;
}

.sidebar h1{
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  font-family: "Rubik";
  letter-spacing: 2px;
  font-weight: 400;
  margin: 0;
  font-size: 25px;
  text-transform: uppercase;
}

.sidebar a{
  display: block;
  padding: 10px 20px;
  color: #bbb;
  text-decoration: none;
  font-family: "Rubik";
  letter-spacing: 2px;
}

.sidebar a:hover{
  color: #fff;
  margin-left: 20px;
  transition: 0.4s;
}

/* ****************************Image Hover**************************** */

.circle {
  background: #F9DEC9;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.circle1 {
  background: #37E2D5;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.circle2 {
  background: #ffff99;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.circle3 {
  background: #cc0066;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.circle4 {
  background: #0099ff;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.circle5 {
  background: #ff99cc;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.circle6 {
  background: #ff6600;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.circle7 {
  background: #993399;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

/* ****************************Image Hover**************************** */

.container {
  position: relative;
  background-color: transparent;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  border-radius: 10%;
  opacity: 0;
  transition: .5s ease;
  background-color: #59879754;
}
.name{
  color: rgb(254, 254, 254);
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container:hover .overlay {
  opacity: 1;
}

/* ************* Chip Select ********************* */
/* Import the Roboto font from Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Roboto);

/* Define the chip height and color */
:root {
  --md-chip-height: 40px;
  --md-chip-color: #e0e0e0;
  --theme-color: #1579b3;
}

/* Style the chip element */
.md-chip {
  display: inline-block;
  background: var(--md-chip-color);
  padding: 0 15px;
  width: 220px;
  border-radius: var(--md-chip-height);
  font-size: 15px;
  border: 1px solid gray;
  background-color: white;

}

/* Make the chip clickable */
.md-chip-clickable {
  cursor: pointer;
  
}

/* Set the height and line-height of the chip and chip icon */
.md-chip,
.md-chip-icon {
  height: var(--md-chip-height);
  line-height: var(--md-chip-height);
}

/* Style the chip icon */
.md-chip-icon {
  display: block;
  float: left;
  background: #009587;
  width: var(--md-chip-height);
  border-radius: 50%;
  text-align: center;
  color: white;
  margin: 0 8px 0 -12px;
}

/* Style the chip remove button */
.md-chip-remove {
  display: inline-block;
  background: #aaa;
  border: 0;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  padding: 0;
  margin: 0 -4px 0 4px;
  cursor: pointer;
  font: inherit;
  line-height: 20px;

  /* Cross icon */
  &:after {
    color: var(--md-chip-color);
    content: 'x';
  }

  /* Hover effect */
  &:hover {
    background: #999;
  }

  /* Active effect */
  &:active {
    background: #777;
  }
}

  /* Style the chip group */
  .md-chips {
    padding: 12px 0;

    /* Margin between chips */
    .md-chip {
      margin: 0 5px 3px 0;
    }
  }

  /* Style the raised chip */
  .md-chip-raised {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  }

  /* Style the checkbox */
  input[type="checkbox"] {
    display: none;
  }

  /* Style the checkbox label */
  input[type="checkbox"] + label {

  }

  /* Style the checked checkbox label */
  input[type="checkbox"]:checked + label {
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    background-color: var(--theme-color);
    color: white;
    border-color: #000000;
  }

  /* Global styles */
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  body {
    background: #f0f0f0;
    position: absolute;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    color: #333;
  }

  section {
    background: white;
    margin: 0 auto;
    padding: 4em;
    max-width: 800px;
  }

  h1 {
    margin: 0 0 2em;
  }

  .program-title {
    font-size: 1.5em;
    margin: 0 0 0.5em;
    float: left;
    font-weight: bold;
    
  }


